@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-left text-4xl;
    }
    body {
      @apply bg-[theme('colors.black')] text-[theme('colors.secondary')];
    }
  }